
@{
    ViewData["Title"] = "LoadAnalyzeSettings";
    var headers = ((List<EasyDataAnalyzer.Data.Entities.ImportHeader>)ViewBag.Headers).GroupBy(h => h.HeaderName).Select(g => new SelectListItem { Text = g.Key, Value = g.FirstOrDefault()?.Id.ToString() });
}

<h2>Оберіть змінні для опрацювання</h2>
<div class="row">
    <div class="col-md-1">
        <label>X:</label>
    </div>
    <div class="col-md-4">
        @Html.DropDownList($"xField", headers, new { @class = "selectDropDown" })
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <label>Y:</label>
    </div>
    <div class="col-md-4">
        @Html.DropDownList($"yField", headers, new { @class = "selectDropDown" })
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button id="okButton" class="btn btn-default">OK</button>
    </div>
</div>

<environment include="Development">
    <script src="~/js/analyzeSettings.js" asp-append-version="true"></script>
</environment>


