
<li><a asp-area="" asp-controller="Import" asp-action="Index">Імпорт даних</a></li>
<li><a asp-area="" asp-controller="Analysis" asp-action="Index">Аналіз даних</a></li>
<li><a asp-area="" asp-controller="Import" asp-action="LoadImportHistory">Історія імпорту</a></li>
<li><a asp-area="" asp-controller="Analysis" asp-action="LoadAnalysisHistory">Історія аналізу</a></li>
